.App-header {
  background-color: white;
  display: flex;
  height: 135px;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-container {
  background-color: #fff;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}

.App-link {
  color: #61dafb;
}

.logo {
  height: 120px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
